@model List<Pizza>
         <!--Inizio contenitore Portfolio con immagini e bottoni-->


        <div class="container">

            <!--Prima riga 3 immagini-->
            <div class="row">

        @if(Model.Count() == 0)
        {
            <h3>Non ci sono Pizze nell'elenco</h3>
        }
        else
        {
            @foreach (Pizza pizzaDellaLista in Model)
            {
                <div class="col">
                    <div class="card shadow bg-body img-fluid h-100">
                        <img src="@pizzaDellaLista.immagine"" class="card-img-top" alt="@pizzaDellaLista.Nome">
                        <div class="card-body fs-6 p-0">
                            <h4 class="text-center my-3">id:@pizzaDellaLista.id - @pizzaDellaLista.Nome</h4>
                            <p>@pizzaDellaLista.Ingredienti</p>
                        </div>
                        <div class="card-footer text-center"><a href="#" class="btn btn-primary align-content-lg-center">Prezzo: € @pizzaDellaLista.Prezzo</a></div>
                    </div>
                </div> 
            }
        }
            </div>             
